.learn-word:hover::after {
    margin-left: 10px;
    content: attr(data-title);
    z-index: 1;
    background: rgba(255,255,230,0.9);
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #333;
}

@media screen and (max-width: 479px) {
    html {
        font-size: 10px !important;
    }

    nav .brand-logo {
        margin-top: 5px;
        position: absolute;
        color: #fff;
        display: inline-block;
        font-size: 2.1rem;
        padding: 0;
    }

    label {
        font-size: 1rem !important;
        color: #474747 !important;
    }

}

label {
    font-size: 1rem !important;
    color: #474747 !important;
}

.carousel .indicators .indicator-item {
    background-color: rgba(186, 185, 185, 0.5) !important;
}

.carousel .indicators .indicator-item.active {
    background-color: rgba(53, 51, 51, 0.5) !important;
}

#toTop {
    width:100px;
    border:1px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:10px; /* отступ кнопки от нижнего края страницы*/
    right:10px;
    cursor:pointer;
    display:none;
    color:#333;
    font-family:verdana;
    font-size:11px;
}